.nav-top {
    text-align: center;
    margin-top: 60px;
}
#img-div {
    align-self: center;
    padding-left: 20%;
    padding-right: 20%;
}
#img-caption {
    text-align: center;
}
#tribute-info {
    padding-left: 20%;
    padding-right: 20%;

}
#headline {
    text-align: center;
}
#tribute-info {
    padding-top: 20px;;
}